In [3]:
import pandas as pd
import numpy as np

In [4]:
coffee_ratings = pd.read_csv("coffee_ratings.csv")
coffee_ratings.count() ## no need to use dropna

total_cup_points         1339
species                  1339
owner                    1332
country_of_origin        1338
farm_name                 980
lot_number                276
mill                     1021
ico_number               1180
company                  1130
altitude                 1113
region                   1280
producer                 1107
number_of_bags           1339
bag_weight               1339
in_country_partner       1339
harvest_year             1292
grading_date             1339
owner_1                  1332
variety                  1113
processing_method        1169
aroma                    1339
flavor                   1339
aftertaste               1339
acidity                  1339
body                     1339
balance                  1339
uniformity               1339
clean_cup                1339
sweetness                1339
cupper_points            1339
moisture                 1339
category_one_defects     1339
quakers                  1338
color                    1069
category_two_defects     1339
expiration               1339
certification_body       1339
certification_address    1339
certification_contact    1339
unit_of_measurement      1339
altitude_low_meters      1109
altitude_high_meters     1109
altitude_mean_meters     1109
dtype: int64

In [5]:
coffee_ratings.describe()

,total_cup_points,number_of_bags,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,82.089851,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,3.500575,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.080000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [40]:
features = ["flavor", "aroma", "aftertaste", "acidity", "body"]
items_df = coffee_ratings[features]

In [41]:
items_df ## Cleaned Data

      flavor  aroma  aftertaste  acidity  body
0       8.83   8.67        8.67     8.75  8.50
1       8.67   8.75        8.50     8.58  8.42
2       8.50   8.42        8.42     8.42  8.33
3       8.58   8.17        8.42     8.42  8.50
4       8.50   8.25        8.25     8.50  8.42
...      ...    ...         ...      ...   ...
1334    7.58   7.75        7.33     7.58  5.08
1335    7.67   7.50        7.75     7.75  5.17
1336    7.33   7.33        7.17     7.42  7.50
1337    6.83   7.42        6.75     7.17  7.25
1338    6.67   6.75        6.50     6.83  6.92

[1339 rows x 5 columns]

In [50]:
random_flavor = np.random.normal(7.520426, 0.398442, size=(5, 1)) 
random_aroma = np.random.normal(7.566706, 0.377560, size=(5, 1)) 
random_aftertaste = np.random.normal(7.401083, 0.404463, size=(5, 1)) 
random_acidity = np.random.normal(7.535706, 0.379827, size=(5, 1)) 
random_body = np.random.normal(7.517498, 0.370064, size=(5, 1))

In [51]:
user = np.hstack([random_flavor, random_aroma, random_aftertaste, random_acidity, random_body])
user_df = pd.DataFrame(user) ## User - Rating Matrix

In [ ]:
def recommendation(item_matrix, user_matrix):

    ## Building the Resulting Matrix
    Result = np.empty((len(user_matrix), len(item_matrix)))
    for i in range(0,(len(user_matrix))):
        user_vec = user_matrix.iloc[i]
        user_vec_norm = user_vec/np.linalg.norm(user_vec)
        for j in range(0,(len(item_matrix))):
            item_vec = item_matrix.iloc[j]
            item_vec_norm = item_vec/np.linalg.norm(item_vec)
            dot_product = np.dot(user_vec_norm, item_vec_norm)
            Result[i][j] = float(dot_product)

    Result_df = pd.DataFrame(Result) ## Result Matrix

    ## Columns represent name of items with max row values. 
    max_col = Result_df.idxmax(axis=1) 
    
    ## Building Recommendation Table to display.
    final = pd.DataFrame()
    ind = []
    for i in range(len(max_col)):
        final[i] = item_matrix.iloc[max_col.iloc[i]]
        ind.append(str(max_col.iloc[i]))

    feature = list(item_matrix.columns)
    final.index = ind
    final.columns = list(item_matrix.columns)
    return final

In [52]:
recommendation(items_df, user_df)

      flavor  aroma  aftertaste  acidity  body
1176    6.83   7.83        6.75     7.58  7.75
384     7.00   7.33        6.75     7.42  7.75
1191    6.83   7.75        6.83     7.50  7.42
1066    7.42   7.50        7.25     7.92  7.92
432     7.33   7.42        7.58     7.83  7.33

In [53]:
user_df.columns = features
user_df.index = ['user_1','user_2','user_3','user_4','user_5']
user_df

          flavor     aroma  aftertaste   acidity      body
user_1  7.129946  7.397822    7.228687  8.118969  7.939396
user_2  7.785879  7.051554    7.589755  6.901618  6.924875
user_3  7.212759  7.115094    7.561449  7.891879  8.241360
user_4  7.397891  7.247192    7.223064  7.642041  7.566265
user_5  7.398036  7.565019    7.171610  7.593443  7.068842