In [1]:
import pandas as pd
import numpy as np

In [2]:
coffee_ratings = pd.read_csv("coffee_ratings.csv")
coffee_ratings.count() ## no need to use dropna

total_cup_points         1339
species                  1339
owner                    1332
country_of_origin        1338
farm_name                 980
lot_number                276
mill                     1021
ico_number               1180
company                  1130
altitude                 1113
region                   1280
producer                 1107
number_of_bags           1339
bag_weight               1339
in_country_partner       1339
harvest_year             1292
grading_date             1339
owner_1                  1332
variety                  1113
processing_method        1169
aroma                    1339
flavor                   1339
aftertaste               1339
acidity                  1339
body                     1339
balance                  1339
uniformity               1339
clean_cup                1339
sweetness                1339
cupper_points            1339
moisture                 1339
category_one_defects     1339
quakers                  1338
color                    1069
category_two_defects     1339
expiration               1339
certification_body       1339
certification_address    1339
certification_contact    1339
unit_of_measurement      1339
altitude_low_meters      1109
altitude_high_meters     1109
altitude_mean_meters     1109
dtype: int64

In [3]:
coffee_ratings.describe()

,total_cup_points,number_of_bags,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,82.089851,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,3.500575,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.080000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [4]:
items_df = coffee_ratings[["flavor", "aroma", "aftertaste", "acidity", "body"]]

In [5]:
items_df ## Cleaned Data

      flavor  aroma  aftertaste  acidity  body
0       8.83   8.67        8.67     8.75  8.50
1       8.67   8.75        8.50     8.58  8.42
2       8.50   8.42        8.42     8.42  8.33
3       8.58   8.17        8.42     8.42  8.50
4       8.50   8.25        8.25     8.50  8.42
...      ...    ...         ...      ...   ...
1334    7.58   7.75        7.33     7.58  5.08
1335    7.67   7.50        7.75     7.75  5.17
1336    7.33   7.33        7.17     7.42  7.50
1337    6.83   7.42        6.75     7.17  7.25
1338    6.67   6.75        6.50     6.83  6.92

[1339 rows x 5 columns]

In [6]:
items = items_df.to_numpy() ## Item - Rating Matrix

In [7]:
random_flavor = np.random.normal(7.520426, 0.398442, size=(5, 1)) 
random_aroma = np.random.normal(7.566706, 0.377560, size=(5, 1)) 
random_aftertaste = np.random.normal(7.401083, 0.404463, size=(5, 1)) 
random_acidity = np.random.normal(7.535706, 0.379827, size=(5, 1)) 
random_body = np.random.normal(7.517498, 0.370064, size=(5, 1))

In [8]:
user = np.hstack([random_flavor, random_aroma, random_aftertaste, random_acidity, random_body])
user_df = pd.DataFrame(user) ## User - Rating Matrix

In [ ]:
vec = items_df.iloc[0]
vec_norm = np.linalg.norm(vec)

vec/vec_norm

np.float64(19.419557152520238)

In [13]:
Result = np.empty((5, 1339))
for i in range(0,(len(user_df)-1)):
    user_vec = user_df.iloc[i]
    user_vec_norm = user_vec/np.linalg.norm(user_vec)
    for j in range(0,(len(items_df)-1)):
        item_vec = items_df.iloc[j]
        item_vec_norm = item_vec/np.linalg.norm(item_vec)
        dot_product = np.dot(user_vec_norm, item_vec_norm)
        Result[i][j] = float(dot_product)

Result_df = pd.DataFrame(Result)
Result_df

,0,1,2,3,4,5,6,7,8,9,...,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338
0,0.999547,0.999773,0.999614,0.999130,0.999220,0.999697,0.999541,0.999348,0.999833,0.998688,...,0.999605,0.999473,0.999797,0.999161,0.999905,0.991571,0.991255,0.999251,0.999113,0.0
1,0.998270,0.997810,0.998259,0.998687,0.998108,0.997684,0.998004,0.998328,0.998261,0.998431,...,0.996850,0.996758,0.998185,0.996973,0.996936,0.988434,0.989830,0.997515,0.995379,0.0
2,0.999473,0.999538,0.999467,0.999179,0.999559,0.999622,0.999610,0.999388,0.999227,0.998572,...,0.999767,0.999708,0.999103,0.999913,0.999360,0.990487,0.990326,0.999656,0.999639,0.0
3,0.997155,0.997032,0.997306,0.996884,0.996700,0.997505,0.997084,0.997910,0.997255,0.997082,...,0.996479,0.996743,0.996725,0.997330,0.996871,0.989086,0.990460,0.996669,0.996194,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [ ]:
Result_df.max(axis=1)
## Only issue is the index numbers.

0    0.999967
1    0.999312
2    0.999980
3    0.998792
4    0.000000
dtype: float64