In [2]:
import pandas as pd
import numpy as np

In [3]:
coffee_ratings = pd.read_csv("coffee_ratings.csv")
coffee_ratings.count() ## no need to use dropna

total_cup_points         1339
species                  1339
owner                    1332
country_of_origin        1338
farm_name                 980
lot_number                276
mill                     1021
ico_number               1180
company                  1130
altitude                 1113
region                   1280
producer                 1107
number_of_bags           1339
bag_weight               1339
in_country_partner       1339
harvest_year             1292
grading_date             1339
owner_1                  1332
variety                  1113
processing_method        1169
aroma                    1339
flavor                   1339
aftertaste               1339
acidity                  1339
body                     1339
balance                  1339
uniformity               1339
clean_cup                1339
sweetness                1339
cupper_points            1339
moisture                 1339
category_one_defects     1339
quakers                  1338
color                    1069
category_two_defects     1339
expiration               1339
certification_body       1339
certification_address    1339
certification_contact    1339
unit_of_measurement      1339
altitude_low_meters      1109
altitude_high_meters     1109
altitude_mean_meters     1109
dtype: int64

In [4]:
coffee_ratings.describe()

,total_cup_points,number_of_bags,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,82.089851,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,3.500575,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.080000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [5]:
items_df = coffee_ratings[["flavor", "aroma", "aftertaste", "acidity", "body"]]

In [6]:
items_df ## Cleaned Data

      flavor  aroma  aftertaste  acidity  body
0       8.83   8.67        8.67     8.75  8.50
1       8.67   8.75        8.50     8.58  8.42
2       8.50   8.42        8.42     8.42  8.33
3       8.58   8.17        8.42     8.42  8.50
4       8.50   8.25        8.25     8.50  8.42
...      ...    ...         ...      ...   ...
1334    7.58   7.75        7.33     7.58  5.08
1335    7.67   7.50        7.75     7.75  5.17
1336    7.33   7.33        7.17     7.42  7.50
1337    6.83   7.42        6.75     7.17  7.25
1338    6.67   6.75        6.50     6.83  6.92

[1339 rows x 5 columns]

In [7]:
items = items_df.to_numpy() ## Item - Rating Matrix

In [16]:
random_flavor = np.random.normal(7.520426, 0.398442, size=(5, 1)) 
random_aroma = np.random.normal(7.566706, 0.377560, size=(5, 1)) 
random_aftertaste = np.random.normal(7.401083, 0.404463, size=(5, 1)) 
random_acidity = np.random.normal(7.535706, 0.379827, size=(5, 1)) 
random_body = np.random.normal(7.517498, 0.370064, size=(5, 1))

In [19]:
user = np.hstack([random_flavor, random_aroma, random_aftertaste, random_acidity, random_body])
user_df = pd.DataFrame(user) ## User - Rating Matrix
len(items_df)

1339

In [20]:
Result = np.empty((5, 1339))
for i in range(0,(len(user_df))):
    user_vec = user_df.iloc[i]
    user_vec_norm = user_vec/np.linalg.norm(user_vec)
    for j in range(0,(len(items_df))):
        item_vec = items_df.iloc[j]
        item_vec_norm = item_vec/np.linalg.norm(item_vec)
        dot_product = np.dot(user_vec_norm, item_vec_norm)
        Result[i][j] = float(dot_product)

Result_df = pd.DataFrame(Result)
Result_df

,0,1,2,3,4,5,6,7,8,9,...,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338
0,0.996719,0.996950,0.997110,0.997005,0.996457,0.996797,0.996560,0.997089,0.997441,0.995230,...,0.996264,0.996749,0.997940,0.995555,0.997256,0.984071,0.984425,0.996638,0.996000,0.996329
1,0.998364,0.998732,0.998266,0.997366,0.998072,0.998788,0.998559,0.997869,0.998340,0.997543,...,0.999186,0.998761,0.997985,0.998949,0.998976,0.993114,0.992046,0.998237,0.999003,0.998338
2,0.999073,0.998835,0.998824,0.998804,0.998914,0.998635,0.999001,0.998430,0.998820,0.999218,...,0.998553,0.997929,0.998517,0.998437,0.998105,0.992745,0.992858,0.998379,0.997122,0.998124
3,0.997350,0.997477,0.997705,0.998187,0.998005,0.997196,0.997410,0.997572,0.997401,0.994976,...,0.997490,0.998154,0.998356,0.996885,0.997423,0.980321,0.980242,0.998386,0.997811,0.998425
4,0.999392,0.999368,0.999557,0.999466,0.999416,0.999518,0.999408,0.999777,0.999368,0.998457,...,0.999169,0.999466,0.999377,0.999434,0.999197,0.988374,0.988972,0.999521,0.999077,0.999416

In [21]:
Result_df.max(axis=1)
## Only issue is the index numbers.

0    0.998936
1    0.999746
2    0.999680
3    0.999665
4    0.999927
dtype: float64